  *{
    margin : 0;
    padding :0;
  }



    .light {
      background-color: #e7e7e7;
      color: #111111;
    }

    
    .dark {
      background-color: #111111;
      color: #e7e7e7;
    }

    #header{

      background-color: aquamarine;
      color : #111111;
      padding:10px;
      flex-wrap: wrap;
      display:flex;
      justify-content: space-between;
      align-items: center;

    }

    .flexBox{
          min-height: 300px;
           outline : 1px solid blue;
           display : flex;
            /* justify-content:center;  */
            /* flex-wrap:wrap; */
            /* align-items: center; */
            /* align-content:space-between;  */

    }

    .item{
      width: 200px;
      height:100px;
      outline : 1px solid pink;
      background-color: red;
     
   }
   .first{
    /* align-self:flex-start; */
    /* order: 1; */
    /* justify-self: left; */
    flex-grow: 5;
    flex-shrink :0;  
     
   }
   .second{
    /* align-self:flex-end; */
    /* order:1; */
    flex-grow:2;
    /* flex-shrink :0;  */
    
   }
   .third {
    /* align-self: flex-start; */
    /* order: 1; */
    /* flex-grow: 2;  */
   }
   .fourth{
    /* align-self: flex-end; */
    /* order :1; */
    /* flex-grow: 2;  */
   }
   